<article class="container">
  <div class="grid">
    <form novalidate [formGroup]="gridForm" (ngSubmit)="onSubmit()">
      <div class="grid--topbar">
        <div class="grid--topbar__select">
          <select formControlName="selectHour" (change)="onChange($event)">
            <option *ngFor="let hour of hours" [value]="hour.value">{{
              hour.key
            }}</option>
          </select>
        </div>
      </div>
      <div class="grid--buttonbar">
        <button type="button" (click)="onAddRow()">Add a New Row</button>
        <button type="submit">Save Data</button>
      </div>
      <div class="grid--wrapper">
        <div class="grid--wrapper__header" [ngStyle]="{ width: setContainerWidth(selectedHours) }">
          <div class="grid--wrapper__header--fixed">
            <div class="grid--wrapper__header--fixed__cell">
              Measure Point Name
            </div>
            <div class="grid--wrapper__header--fixed__cell">
              Units
            </div>
          </div>
          <div class="grid--wrapper__header--dynamic">
            <div
              *ngFor="let numItem of createRange(selectedHours)"
              class="grid--wrapper__header--dynamic__cell"
              [ngStyle]="{ width: getWidth(selectedHours) }"
            >
              {{ setHour(selectedHours, numItem) }}
            </div>
          </div>
        </div>
        <div class="grid--wrapper__body" [ngStyle]="{ width: setContainerWidth(selectedHours) }">
          <div class="grid--wrapper__body--fixed">
            <div class="grid--wrapper__body--fixed__row" *ngFor="let row of gridForm.get('rows')?.controls;let index = index;">
              <div class="grid--wrapper__body--fixed__row--col">
                <label>MDE Item {{index}}</label>
              </div>
              <div class="grid--wrapper__body--fixed__row--col">g/L</div>
            </div>
          </div>
          <div class="grid--wrapper__body--dynamic">
            <div class="grid--wrapper__body--dynamic__row" *ngFor="let row of gridForm.get('rows')?.controls;let index = index;">
              <div
                *ngFor="let numItem of createRange(selectedHours)"
                class="grid--wrapper__body--dynamic__row--col"
                [ngStyle]="{ width: getWidth(selectedHours) }"
              >
                <input type="text"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</article>
