html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
}


select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: transparent;
  background-image: none;
  flex: 1;
  padding: 0.5em 1rem;
  color: #111111;
  cursor: pointer;
  font-size: 1rem;

  &::-ms-expand {
    display: none;
  }
}

button {
  padding: 1rem;
  border-radius: 0.25em;
  margin: 0 0.5rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  background-color: #111111;
}

input[type=text] {
  display: block;
  width: auto;
  border-radius: 0.25em;
  border: 1px solid #111111;
  padding: 0.5em;
  line-height: 1;
  font-size: 0.75rem;
  margin: 0;
  box-sizing: border-box;
  color: #111111;
}